body {
  display: flex;
}

#sidebar {
  display: flex;
  flex-direction: column;
  margin: 1em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#uploadFile {
  height: 0;
  width: 0;
  margin: 0;
}

#text, #image, #link {
  height: 5em;
  width: 5em;
}

.image{
  position: fixed;
  top: 1em;
  left: 10em;
}